<section class="py-4 my-4 px-2 mx-2 d-flex justify-content-center align-items-center" id="projectDetail"
    *ngFor="let projectDetail of projectDetails">
    <div class="container ">
        <div class="row justify-content-center">
            <div class="col-md-7 ">
                <div class="row">
                    <div class="col-12  d-flex justify-content-center">
                        <div id="img-wrapper" class="col-12 col-md-10">
                            <img src="{{projectDetail.imgscreenshot}}" class="w-100 h-100 image-fluid" alt="project">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-10 col-md-5 d-flex justify-content-center align-items-center flex-wrap my-5">
                <div class="row">
                    <h3>
                        {{projectDetail.title}}
                    </h3>
                    <p>
                        {{projectDetail.description}}
                    </p>
                    <div class="row">
                        <div class="col-12 col-md-8">
                            <button class="btn btn-primary submit-btn " [routerLink]="['/']">back to Portfolio</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>