#projectDetail{
  height: 100vh;
}
.submit-btn {
  padding: 15px 30px;
  cursor: pointer;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 0.05rem;
  border-radius: 30px;
  background-color: #96bb7c;
  border-color: #96bb7c;
  color: #fff;
  margin: 0px 10px 0px 0px;
}