<section class="projects">
  <div class="container">
    <div class="row projects-cards">
      <h2
        class="
          text-capitalize text-center
          projects-cards-filter-header
          aos-init aos-animate
        "
        data-aos="fade-up"
        data-aos-delay="0"
      >
        {{ "PORTFOLIO.MY PORTFOLIO" | translate }}
      </h2>
      <div class="projects-cards-filter-body d-flex justify-content-center">
        <ul
          class="text-capitalize aos-init aos-animate"
          data-aos="fade-up"
          data-aos-delay="100"
        >
          <li class="text-capitalize" (click)="typeHandle('all')">
            {{ "PORTFOLIO.ALL" | translate }}
          </li>
          <li class="text-capitalize" (click)="typeHandle('react')">react</li>
          <li class="text-capitalize" (click)="typeHandle('angular')">angular</li>
          <li class="text-capitalize" (click)="typeHandle('landingPage')">
            landingpage
          </li>
        </ul>
      </div>
      <div
        class="
          projects-cards-item
          col-12 col-sm-6 col-lg-4
          p-2
          aos-init aos-animate
        "
        data-aos="fade-up"
        data-aos-delay="200"
        *ngFor="let project of filteredProjectList"

      >
      <a href={{project.projectUrl}} class="d-block">
        <figure class="w-100 h-100"   >
          <div class="img-wrapper" >
            <img
              src="{{ project.imgscreenshot }}"
              alt="project"
              class="w-100 img-fluid"
            />
          </div>


          <div class="overLay-content" >
            <h3>{{ project.title }}</h3>
            <p class="text-capitalize project-filteration">
              {{ project.projectType }}
            </p>
          </div>
        </figure>
      </a>
      </div>
    </div>
  </div>
</section>
