<header
  class="header aos-init aos-animate"
  data-aos="fade"
  data-aos-delay="100"
>
  <div class="container">
    <div
      class="
        row
        m-0
        p-0
        justify-content-center
        align-items-center
        aos-init aos-animate
      "
      data-aos="fade-up "
      data-aos-delay="100"
    >
      <div class="col-lg-8">
        <h1
          class="text-white text-center aos-init aos-animate"
          data-aos="fade-up"
          data-aos-delay="100"
        >
          I'm Marina Saber<br />
          A Front-end Developer
        </h1>
      </div>
    </div>
  </div>
</header>
