<footer class="py-5" id="footer">
  <div class="container">
    <div class="row">
      <div class="col-lg-4">
        <div class="footer-content">
          <h3>About</h3>
          <p>
            Far far away, behind the word mountains, far from the countries
            Vokalia and Consonantia, there live the blind texts.
          </p>
        </div>
        <div class="footer-content">
          <h3>connect</h3>
          <ul class="social-contacts">
            <fa-icon [icon]="socialIcons.faFacebookIcon" class=""></fa-icon>
          </ul>
        </div>
      </div>
      <div class="col-lg-2">
        <div class="footer-content">
          <h3>Navagation</h3>
          <ul></ul>
        </div>
      </div>
      <div class="col-lg-2"></div>
      <div class="col-lg-3"></div>
    </div>
  </div>
</footer>
