<section #about class="about-section">
  <div
    class="container aos-init aos-animate"
    data-aos="fade-up "
    data-aos-delay="100"
  >
    <div class="row">
      <div class="col-7 col-sm-8 col-md-9 col-lg-7">
        <div class="img-wrap">
          <img
            src="../../../assets/aboutImage.webp"
            alt="about-marina"
            class="img-fluid about-img"
          />
        </div>
      </div>
      <div class="col-md-9 col-lg-5">
        <h2 class="about-header">My Bio</h2>
        <p>
          I’m a hard working and dedicated front-end developer with a keen eye
          for detail,and a determination to deliver the very highest quality. I
          take great pride in my work, and I always try to better myself with
          every project I work on.
        </p>
        <p>
          I like to write code that is re-useable, maintainable and easy to
          understand.
        </p>
        <p>
          The main areas of my expertise are HTML(5), CSS(3) , JavaScript ,
          React,angular,responsive web design (RWD)
        </p>
        <p>
          <strong>Interested in working with me? </strong>
          Get in touch
        </p>
        <div class="my-5">
          <div class="skill" *ngFor="let skill of skills">
            <h3 class="skill-header">{{ skill.skillName }}</h3>
            <div class="progress">
              <div
                class="progress-bar"
                role="progressbar"
                aria-valuenow="0"
                aria-valuemin="0"
                aria-valuemax="100"
                style="width: 85%"
              >
                <span>{{ skill.percentage }}</span>
              </div>
            </div>
          </div>
        </div>
        <div class="buttons-wrap">
          <button class="btn about-btn">Hire Me</button>
          <button class="btn about-btn about-cv-btn">
            <a href=""> Download cv</a>
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
