<section #about class="about-section">
  <div
    class="container aos-init aos-animate"
    data-aos="fade-up "
    data-aos-delay="100"
  >
    <div class="row">
      <div class="col-7 col-sm-8 col-md-9 col-lg-7">
        <div class="img-wrap">
          <img
            src="assets/aboutImage.webp"
            alt="about-marina"
            class="img-fluid about-img"
          />
        </div>
      </div>
      <div class="col-md-9 col-lg-5">
        <h2 class="about-header">{{ "ABOUT.TITLE" | translate }}</h2>
        <p>
          {{ "ABOUT.TEXT1" | translate }}
        </p>
        <p>
          {{ "ABOUT.TEXT2" | translate }}
        </p>
        <p>
          {{ "ABOUT.TEXT3" | translate }}
        </p>
        <p>
          <strong> {{ "ABOUT.TEXT4" | translate }} </strong>
          Get in touch
        </p>
        <div class="my-5">
          <div class="skill" *ngFor="let skill of skills">
            <h3 class="skill-header">{{ skill.skillName }}</h3>
            <div class="progress">
              <div
                class="progress-bar"
                role="progressbar"
                aria-valuenow="0"
                aria-valuemin="0"
                aria-valuemax="100"
                style="width: 85%"
              >
                <span>{{ skill.percentage }}</span>
              </div>
            </div>
          </div>
        </div>
        <div class="buttons-wrap">
          <button class="btn about-btn">{{ "ABOUT.HIRE" | translate }}</button>
          <button class="btn about-btn about-cv-btn">
            <a href=""> {{ "ABOUT.DOWNLOAD CV" | translate }}</a>
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
