<nav
  class="navbar navbar-expand-lg navbar-light bg-light mb-5 fixed-top"
  id="navbar"
>
  <div class="container">
    <a class="navbar-brand mr-auto">
      <p [routerLink]="['/']" class="d-block text-center logo">MS</p>
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
      [attr.aria-expanded]="!navbarCollapsed"
      (click)="navbarCollapsed = !navbarCollapsed"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div
      class="collapse navbar-collapse justify-content-center"
      [ngbCollapse]="navbarCollapsed"
      id="navbarSupportedContent"
    >
      <ul
        class="navbar-nav ml-auto mb-2 mb-lg-0 p-2"
        [class]="navbarCollapsed ? '' : 'navbarItemsCollapsed'"
      >
        <li class="nav-item">
          <a
            class="nav-link"
            aria-current="page"
            routerLink=""
            (click)="toHome()"
            [ngClass]="
              scrollNavbar && activeLink === 'home'
                ? 'nav-link nav-link-dark-color active'
                : scrollNavbar
                ? 'nav-link nav-link-dark-color '
                : 'nav-link'
            "
            >{{ "NAVBAR.HOMELINK" | translate }}</a
          >
        </li>
        <!-- <li class="nav-item dropdown">
          <a
            [ngClass]="
              scrollNavbar
                ? 'nav-link nav-link-dark-color dropdown-toggle'
                : 'nav-link'
            "
            routerLinkActive="active"
            id="navbarDropdown"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Dropdown
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><hr class="dropdown-divider" /></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </li> -->
        <li class="nav-item">
          <a
            (click)="toAbout()"
            routerLinkActive="active"
            [ngClass]="
              scrollNavbar && activeLink === 'about'
                ? 'nav-link nav-link-dark-color active'
                : scrollNavbar
                ? 'nav-link nav-link-dark-color '
                : 'nav-link'
            "
            >{{ "NAVBAR.ABOUTLINK" | translate }}</a
          >
        </li>
        <li class="nav-item">
          <a
            (click)="toPortfolio()"
            [ngClass]="
              scrollNavbar && activeLink === 'pottfolio'
                ? 'nav-link nav-link-dark-color active'
                : scrollNavbar
                ? 'nav-link nav-link-dark-color '
                : 'nav-link'
            "
            >{{ "NAVBAR.PORTFOLIOLINK" | translate }}</a
          >
        </li>
        <li class="nav-item">
          <a
            (click)="toServices()"
            [ngClass]="
              scrollNavbar && activeLink === 'services'
                ? 'nav-link nav-link-dark-color active'
                : scrollNavbar
                ? ' nav-link nav-link-dark-color '
                : 'nav-link'
            "
            >{{ "NAVBAR.SERVICELINK" | translate }}</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            (click)="toResume()"
            [ngClass]="
              scrollNavbar && activeLink === 'resume'
                ? 'nav-link nav-link-dark-color active'
                : scrollNavbar
                ? 'nav-link nav-link-dark-color '
                : 'nav-link'
            "
            >{{ "NAVBAR.RESUMELINK" | translate }}</a
          >
        </li>
        <li class="nav-item">
          <a
            (click)="toBlog()"
            [ngClass]="
              scrollNavbar && activeLink === 'blog'
                ? 'nav-link nav-link-dark-color active'
                : scrollNavbar
                ? 'nav-link nav-link-dark-color '
                : 'nav-link'
            "
            >{{ "NAVBAR.BLOGLINK" | translate }}</a
          >
        </li>
        <li class="nav-item">
          <a
            (click)="toContact()"
            [ngClass]="
              scrollNavbar && activeLink === 'contact'
                ? 'nav-link nav-link-dark-color active'
                : scrollNavbar
                ? 'nav-link nav-link-dark-color '
                : 'nav-link'
            "
            >{{ "NAVBAR.CONTACTLINK" | translate }}</a
          >
        </li>
        <li class="nav-item">
          <a
            (click)="toSignIn()"
            [routerLink]="['sign-in']"
            [ngClass]="
              scrollNavbar && activeLink === 'signIn'
                ? 'nav-link nav-link-dark-color active'
                : scrollNavbar
                ? 'nav-link nav-link-dark-color '
                : 'nav-link'
            "
            >{{ "NAVBAR.SIGNINLINK" | translate }}</a
          >
        </li>
        <li>
          <select
            #langselect
            (change)="translate.use(langselect.value)"
            name="lang"
            id="Lang"
          >
            <option *ngFor="let lang of translate.getLangs()" [value]="lang">
              {{ lang }}
            </option>
          </select>
        </li>
      </ul>
    </div>
  </div>
</nav>
