.navbar {
  background-color: transparent ;
  width: 100%;
}

.logo {
  font-size: 24px;
  color: #fff;
  font-weight: 700;
  width: 40px;
  height: 40px;
  margin:auto;
  line-height: 40px;
  text-align: center;
  border: 1px solid #fff;
  text-decoration: none;
  position: relative;
  z-index: 9;
  cursor: pointer;
}
.nav-link,
.navbar-toggler {
  cursor: pointer;
  position: relative;
  z-index: 100;
  color: #fff !important;
}
.navbarItemsCollapsed {
  background: rgba(0, 0, 0, 0.7);
  margin-bottom: 100px;
  z-index: 100;
  position: relative;
}

.nav-link-dark-color {
  color: #000 !important;
}
.active {
  color: #96bb7c !important;
}
.scroll {
  background-color: #fff !important;
}
.logo-dark-color {
  color: #000 !important;
  border-color: #000;
  margin: 0;
}
#Lang{
  background-color: transparent;
  border: none;
}

#Lang option{
  color: #000;
}