<div class="our-client pt-5 pb-5">
  <div class="container">
    <div class="row text-center our-client-text">
      <div class="col our-client-text-col">
        <div class="our-client-text-header">
          <h2 class="m-0 text-capitalize">happy clients</h2>
        </div>
      </div>
    </div>
    <div class="row our-client-media">
      <div
        class="col-md-12 col-lg-6 pr-5 our-client-media-wrapper"
        *ngFor="let client of clients"
      >
        <div class="client-media-sections pt-5 pb-5">
          <div class="client-media w-100 d-flex">
            <div class="client-media-img-container w-30">
              <img
                src="{{client.img}}"
                class="mr-3 w-100 image-fluid bg-light rounded-circle"
                alt="..."
              />
            </div>
            <div class="media-body ml-3">
              <p class="text-unper m-0">mathew dix</p>
              <p class="text-muted pb-3 text-under">graphic design</p>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum
                harum eveniet, ab quasi inventore molestiae tempora iure
                repellat itaque fugit explicabo minima, iste ut enim? Vel quod
                velit tempora rem.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
