<nav
  class="navbar navbar-expand-lg navbar-light bg-light mb-5 fixed-top"
  id="navbar"
>
  <div class="container">
    <a class="navbar-brand mr-auto">
      <p [routerLink]="['/']" class="d-block text-center logo">MS</p>
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
      [attr.aria-expanded]="!navbarCollapsed"
      (click)="navbarCollapsed = !navbarCollapsed"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div
      class="collapse navbar-collapse justify-content-center"
      [ngbCollapse]="navbarCollapsed"
      id="navbarSupportedContent"
    >
      <ul
        class="navbar-nav ml-auto mb-2 mb-lg-0 p-2"
        [class]="navbarCollapsed ? '' : 'navbarItemsCollapsed'"
      >
        <li class="nav-item">
          <a
            class="nav-link active"
            aria-current="page"
            href="#"
            [ngClass]="
              scrollNavbar ? 'nav-link nav-link-dark-color' : 'nav-link'
            "
            >Home</a
          >
        </li>
        <li class="nav-item dropdown">
          <a
            [ngClass]="
              scrollNavbar
                ? 'nav-link nav-link-dark-color dropdown-toggle'
                : 'nav-link'
            "
            href="#"
            id="navbarDropdown"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Dropdown
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><hr class="dropdown-divider" /></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a
            (click)="scrollToAbout()"
            routerLinkActive="active"
            [ngClass]="
              scrollNavbar ? 'nav-link nav-link-dark-color' : 'nav-link'
            "
            >About</a
          >
        </li>
        <li class="nav-item">
          <a
            href="#"
            [ngClass]="
              scrollNavbar ? 'nav-link nav-link-dark-color' : 'nav-link'
            "
            >Portfolio</a
          >
        </li>
        <li class="nav-item">
          <a
            href="#"
            [ngClass]="
              scrollNavbar ? 'nav-link nav-link-dark-color' : 'nav-link'
            "
            >Services</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            href="#"
            [ngClass]="
              scrollNavbar ? 'nav-link nav-link-dark-color' : 'nav-link'
            "
            >Resume</a
          >
        </li>
        <li class="nav-item">
          <a
            href="#"
            [ngClass]="
              scrollNavbar ? 'nav-link nav-link-dark-color' : 'nav-link'
            "
            >Blog</a
          >
        </li>
        <li class="nav-item">
          <a
            href="#"
            [ngClass]="
              scrollNavbar ? 'nav-link nav-link-dark-color' : 'nav-link'
            "
            >Contact</a
          >
        </li>
      </ul>
    </div>
  </div>
</nav>
