<nav class="navbar navbar-expand-lg navbar-light bg-dark mb-5 fixed-top" id="admin-navbar">
  <div class="container">
    <a class="navbar-brand mr-auto">
      <p [routerLink]="['/']" class="d-block text-center logo">MS</p>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"
      [attr.aria-expanded]="!navbarCollapsed" (click)="navbarCollapsed = !navbarCollapsed">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-center" [ngbCollapse]="navbarCollapsed">
      <ul class="navbar-nav ml-auto mb-2 mb-lg-0 p-2" [class]="navbarCollapsed ? '' : 'navbarItemsCollapsed'">
        <li class="nav-item">
          <a class="nav-link" [ngClass]="
         scrollNavbar
          ? 'nav-link nav-link-dark-color '
          : 'nav-link'
      ">my profile</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [ngClass]="
         scrollNavbar
          ? 'nav-link nav-link-dark-color '
          : 'nav-link'
      ">dashboard</a>
        </li>
        <li class="nav-item" *ngIf="isLoggedIn">
          <a routerLink="/sign-in" class="nav-link">Logout</a>
        </li>
      </ul>
    </div>

  </div>
</nav>
<!-- <ul>
    <li><a routerLink="./"  routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" ></a></li>
    <li><a [routerLink]="['/sign-in']">Logout</a></li>
</ul> -->