<div class="row ">
    <div class="col-12">
        <form [formGroup]="newProjectForm" (ngSubmit)="onSubmit()">
            <div class="form-group ">
                <label for="projectTitle" class="text-capitalize">project title</label>
                <input type="text" formControlName="projectTitle" class="form-control " id="projectTitle"
                    name="title" />
            </div>

            <div class="form-group ">
                <label for="projectImage" class="text-capitalize">image url</label>
                <input type="text" name="projectImage" formControlName="projectImage" class="form-control "
                    id="projectImage">
            </div>
            <div class="form-group ">
                <label for="projectDescription" class="text-capitalize">description</label>
                <textarea name="projectDescription" formControlName="description" class="form-control "
                    id="projectDescription" cols="10" rows="5"></textarea>
            </div>
            <div class="form-group">
                <button type="submit" [disabled]="!newProjectForm.valid" class="btn btn-primary">submit</button>
            </div>
        </form>
    </div>
</div>