<section class="dashboard">
    <div class="container dashboard-content-wrapper">
        <div class="row " > 
                <app-admin-navbar></app-admin-navbar>
            </div>
            <div class="row">
               <app-admin-dashboard></app-admin-dashboard>
            </div>  
            <div class="row">
                <app-projects-table></app-projects-table>
            </div>
            <div class="row">
                <app-manage-projects></app-manage-projects>
             </div>  
            
    </div>
</section>