<section id="sign-in" class="bg-light">
  <div class="container">
    <div class="row justify-content-center align-items-center">
      <div
        class="col-md-10 mb-5 aos-init aos-animate"
        data-aos="fade-up "
        data-aos-delay="0"
      >
        <div class="sign-in-header text-center">
          <h2 class="text-capitalize">sign in</h2>
        </div>
      </div>
    </div>
    <div class="row justify-content-center align-items-center">
      <div class="col-md-10">
        <form>
          <div class="row justify-content-center align-items-center">
            <div class="col-md-5">
              <div class="form-group">
                <label for="FirstName" class="text-capitalize"
                  >first name</label
                >
                <input type="text" id="FirstName" class="form-control" />
              </div>
            </div>
            <div class="col-md-5">
              <div class="form-group">
                <label for="LastName" class="text-capitalize">last name</label>
                <input type="text" id="LastName" class="form-control" />
              </div>
            </div>
          </div>
          <div class="row justify-content-center align-items-center">
            <div class="col-12 col-md-10">
              <div class="form-group">
                <label for="Email" class="text-capitalize">email</label>
                <input type="email" id="Email" class="form-control" />
              </div>
            </div>
          </div>
          <div class="row justify-content-center align-items-center">
            <div class="col-md-10">
              <button class="btn sign-in-btn text-capitalize">sign in</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
