<section>
    <div class="table-responsive my-5">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">No.</th>
                    <th scope="col" class="text-capitalize text-center">title</th>
                    <th scope="col" class="text-capitalize text-center">project type</th>
                    <th scope="col" class="text-capitalize text-center">project description</th>
                    <th scope="col" class="text-capitalize text-center">details</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let project of projectList;index as i">
                    <th scope="row" class="text-center">{{i+1}}</th>
                    <td class="text-center">{{project.title}}</td>
                    <td class="text-center">{{project.projectType}}</td>
                    <td class="text-center">{{project.description}}</td>
                    <td class="text-center">
                        <button class="btn btn-primary preview-btn"  (click)="preview(project)">preview</button>
                    </td>
                </tr>
              
            </tbody>
        </table>
    </div>
</section>