.contact-me-header h2 {
  font-size: 3rem;
  font-weight: 500;
  line-height: 1.2;
  padding: 70px 0;
  color: #000;
}
.form-group {
  margin-bottom: 1rem;
  height: auto;
}
.form-control {
  border: none;
  font-size: 16px;
  height: 45px;
  padding-left: 0;
  padding-right: 0;
  background: transparent;
  border-bottom: 1px solid #43434d;
  border-radius: 0;
  color: #000;
}
.form-control:focus {
  border-bottom-color: 96bb7c;
  box-shadow: none;
  outline: 0 none;
}
.submit-btn {
  padding: 15px 30px;
  cursor: pointer;
  font-size: 11px;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 0.05rem;
  border-radius: 30px;
  background-color: #96bb7c;
  border-color: #96bb7c;
  color: #fff;
  margin: 0px 10px 0px 0px;
}
label {
  color: #939393;
  line-height: 1.6;

  font-size: 16px;
}
.form-group textarea {
  height: auto;
}
.contact-info-wrapper {
  margin-left: auto;
}
.contact-info-header {
  font-size: 1.25rem;
}
.contact-info-icon {
  margin-right: 0.5rem;
}
.contact-info-body li a {
  color: #96bb7c !important;
}
