.resume{
  padding: 70px 0;
}
.resume-item-workPlace {
  margin-right: 3rem;
}
.period-wrapper {
  margin-left: auto;
}
.resume-item-period {
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 0.1rem;
  padding: 7px 20px;
  border-radius: 30px;
  background: rgba(150, 187, 124, 0.1);
  color: #96bb7c;
}
.resume-item-header {
  font-size: 1.75rem;
}
.resume-item-body {
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #efefef;
}
.resume-item-body h4 {
  font-size: 18px;
}
.resume-item-workHistory {
  margin-right: 10px;
  color: #ccc;
}
