<section class="resume">
  <div class="container">
    <div class="row mb-5">
      <div
        class="col-md-12 mb-5 text-center aos-init aos-animate"
        data-aos="fade-up"
        data-aos-delay="100"
      >
        <h2 class="text-capitalize">resume</h2>
      </div>
    </div>
    <div class="row">
      <div
        class="col-lg-4 aos-init aos-animate mb-5"
        data-aos="fade-up"
        data-aos-delay="200"
      >
        <img src="assets/images/marinasaber.png" alt="" class="img-fluid" />
      </div>
      <div
        class="col-lg-7 aos-init aos-animate"
        data-aos="fade-up"
        data-aos-delay="200"
      >
        <div class="row">
          <h3 class="mb-5 resume-item-header">work experience</h3>
          <div
            class="resume-item-body d-flex"
            *ngFor="let experience of experiences"
          >
            <div>
              <h4>{{ experience.prevExperience }}</h4>
              <div class="d-flex">
                <span class="resume-item-workHistory mr-3">
                  <span clas="resume-icon">
                    <fa-icon [icon]="icons.faBuildingIcon"></fa-icon>
                  </span>
                  <span>
                    {{ experience.workPlace }}
                  </span>
                </span>
                <span class="resume-item-workHistory">
                  <span clas="resume-icon">
                    <fa-icon [icon]="icons.faMapMarkerIcon"></fa-icon>
                  </span>
                  <span>
                    {{ experience.location }}
                  </span>
                </span>
              </div>
            </div>
            <div class="period-wrapper d-flex">
              <div>
                <span class="resume-item-period text-uppercase">
                  {{ experience.period }}</span
                >
                <div class="d-flex resume-item-workHistory mt-2">
                  <span class="resume-icon mr-5">
                    <fa-icon [icon]="icons.faCalendarIcon"></fa-icon>
                  </span>
                  <span class="text-capitalize">
                    {{ experience.periodCalenderStart }}</span
                  >
                  <span class="text-capitalize">
                    -{{ experience.periodCalenderEnd }}</span
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <h3 class="mb-5 resume-item-header">Education</h3>
          <div
            class="resume-item-body d-flex"
            *ngFor="let eduction of eductions"
          >
            <div>
              <h4>{{ eduction.education }}</h4>
              <div class="d-flex">
                <span class="resume-item-workHistory mr-3">
                  <span clas="resume-icon ">
                    <fa-icon [icon]="icons.faBuildingIcon"></fa-icon>
                  </span>
                  <span>
                    {{ eduction.educationPlace }}
                  </span>
                </span>
              </div>
            </div>
            <div class="period-wrapper d-flex">
              <div>
                <div class="d-flex resume-item-workHistory mt-2">
                  <span class="resume-icon mr-3">
                    <fa-icon [icon]="icons.faCalendarIcon"></fa-icon>
                  </span>
                  <span class="text-capitalize">
                    {{ eduction.educationStart }}</span
                  >
                  <span class="text-capitalize">
                    -{{ eduction.educationEnd }}</span
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
