.blog-header h2 {
  font-size: 3rem;
  font-weight: 500;
  line-height: 1.2;
  padding: 70px 0;
  color: #000;
}
.blog-date ,.blog-time {
  font-size: 12px;
  letter-spacing: 0.2rem;
  color: #ccc;
}
.blog-header ul li h3 {
  margin-bottom: 0.5rem;
  font-weight: 500;
  line-height: 1.2;
  color: #000;
}
.blog-header ul li {
  margin-bottom: 30px;
  display: block;
  padding-bottom: 30px;
  border-bottom: 1px solid #efefef;
}
